<div class="container center">
  <a class="btn">BLUR</a>
  <app-progress-bar [pct]="pct" *ngIf="render"></app-progress-bar>
  <h3 *ngIf="render">{{ pct }} %</h3>
</div>

<div class="row">
  <div class="row">
    <div class="input-field col s12">
      <textarea id="textarea1" class="materialize-textarea" [(ngModel)]="deckStr" (blur)="printDeck()"></textarea>
      <label for="textarea1">Insira a lista do deck</label>
    </div>
  </div>
</div>
<br>

<!-- <app-wrapper *ngIf = "this.deckService.deckSaved">
  <table>
    <thead>
      <tr>
        <th>QNTD</th>
        <th>CARD NAME</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        <th>COMANDANTE</th>
      </tr>
      <tr>
        <th></th>
        <th>{{ comander.name }}</th>
      </tr>
      <tr>
        <th></th>
        <th>DECK BODY</th>
      </tr>
      <tr *ngFor = "let i of decklist">
        <th>{{ i.qntd }}</th>
        <th><app-card-wrapper [card]='i.card' ></app-card-wrapper></th>
      </tr>
    </tbody>
  </table>
</app-wrapper> -->
