<br>  
<app-wrapper>
    <table class="centered highlight black-text">
      <thead>
        <tr>
          <th>QNTD</th>
          <th>CARD NAME</th>
        </tr>
      </thead>
      <tbody >
        <tr>
          <th></th>
          <th>COMANDANTE</th>
        </tr>
        <tr>
          <th></th>
          <th><app-card-wrapper [card]='comander' ></app-card-wrapper></th>
        </tr>
        <tr>
          <th></th>
          <th>DECK BODY</th>
        </tr>
        <tr *ngFor = "let i of decklist">
          <th>{{ i.qntd }}</th>
          <th><app-card-wrapper [card]='i.card' ></app-card-wrapper></th>
        </tr>
      </tbody>
    </table>
  </app-wrapper>
