<app-wrapper>
  <div class='container center'>
    <h6>CMC TOTAL </h6>
    <p>{{ cmcTotal }}</p>
    <br>
    <h6>CMC MÉDIO</h6>
    <p>{{ cmcMedio | number:'1.0-2' }}</p>
    <br>
    <h6>TOTAL DE CARTAS</h6>
    <p>{{ total }}</p>
  </div>
</app-wrapper>
<br>

<app-wrapper>
  <app-mana-curve [deckList]='deckList.deckCard' ></app-mana-curve>
  <br>
</app-wrapper>
<br>

<app-wrapper>
  <app-custo-cores [deckList]='deckList.deckCard' ></app-custo-cores>
  <br>
</app-wrapper>

<br>

<app-wrapper>
  <app-tipo-carta [deckList]='deckList.deckCard' ></app-tipo-carta>
  <br>
</app-wrapper>
<br>


<app-wrapper>
  <app-lands [landsInput] = 'deckList.deckLands' [colorId] = 'deckList.colorId'>
  </app-lands>
  <br>
</app-wrapper>
